/* Slider Wrapper */
.slider-wrapper {
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

/* Swiper Styles */
.swiper {
  width: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: auto;
  height: auto;
}

.slide img {
  width: auto;
  height: 300px;
  object-fit: cover;
  border-radius: 15px;
}

/* Navigation Arrows */
.slider-controller {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 0;
  padding-top: 20px;
}

.slider-controller .swiper-pagination {
  margin: 0;
  width: auto;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
  content: "";
}

.slider-controller .swiper-button-prev,
.slider-controller .swiper-button-next {
  position: static;
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
  color: #e64f13;
  font-size: x-large;
}

/* Pagination Styles */
.swiper-pagination-bullet {
  background-color: #dfdef1 !important;
}

.swiper-pagination-bullet-active {
  background-color: #2825da !important;
}

.swiper-pagination {
  position: relative;
  width: auto;
  text-align: center;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 50%;
  background: #bbb;
  opacity: 1;
  margin: 0 5px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .slide img {
    height: 200px;
    object-fit: contain;
    border-radius: 15px;
    overflow: hidden;
  }
}
